<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohakchavan.pustakniparab">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddNewBooks" />
        <activity android:name=".IssueModule.Returns" />
        <activity android:name=".IssueModule.AddIssues" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NameModule.Search_Name" />
        <activity android:name=".NameModule.Delete_Name" />
        <activity android:name=".NameModule.View_All" />
        <activity android:name=".NameModule.AddPerson" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mohakchavan.pustakniparab.exportFile"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".Services.Import_Service" />
        <service android:name=".Services.ImportFile_Service" />
        <service android:name=".Services.Export_Service" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>